body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.my-logo {
    color: #2aabe2 !important;
}

a#register {
    border-bottom: 2px solid #174e90;
}

    a#register:hover {
        background: #174e90;
        color: #fff;
    }

a#login {
    border-bottom: 2px solid #2d8cc3;
    border-right: none;
}

    a#login:hover {
        background: #2d8cc3;
        color: #fff;
    }

a#user-information {
    border-bottom: 2px solid #174e90;
    border-right: none;
}

    a#user-information:hover {
        background: #174e90;
        color: #fff;
    }

a#new-product {
    border-bottom: 2px solid #d08215;
    border-right: none;
}

    a#new-product:hover {
        background: #d08215;
        color: #fff;
    }

a#cateogory-management {
    border-bottom: 2px solid #15d0bf;
    border-right: none;
}

    a#cateogory-management:hover {
        background: #15d0bf;
        color: #fff;
    }

a#users {
    border-bottom: 2px solid #d015aa;
    border-right: none;
}

    a#users:hover {
        background: #d015aa;
        color: #fff;
    }

a#logout {
    border-bottom: 2px solid #971818;
    border-right: none;
}

    a#logout:hover {
        background: #971818;
        color: #fff;
    }

/*#2aabe2*/
