@model InGameDemo.Core.Models.ForgotPasswordForDto
@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="row">
    <div class="col-md-12">
        <h2>Şifremi Unuttum</h2>
        <hr />
    </div>
    <div class="col-md-6">
        <form asp-action="ForgotPassword" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="pull-left">
                <a asp-area="" asp-controller="Home" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Şifre Reset Linki Gönder</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
</div>