@model InGameDemo.Core.Models.LoginForDto
@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="row">
    <div class="col-md-12">
        <h2>Giriş Yap</h2>
        <hr />
    </div>
    <div class="col-md-6">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label><input asp-for="RememberMe"> Beni Hatırla</label>
                </div>
            </div>

            <div class="pull-left">
                <a asp-area="" asp-controller="Home" asp-action="ForgotPassword"><span class="glyphicon glyphicon-info-sign"></span> Şifremi Unuttum</a>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
</div>